/* These are my CSS classes */
body {
  margin: 0;
  font-family: sans-serif;
}

h4 {
  text-align: center;
  font-weight: bolder;
  margin: 10px;
}

hr {
  color: whitesmoke;
  width: 40%;
  border-style: solid none none;
  border-width: 2px ;
  margin: 25px auto 20px auto;
}

p {
  text-align: center;
  font-size: 13px;
  padding: 10px;
  color: grey;
  margin: 10px;
}

.menu {
   display: flex;
   justify-content:space-between;
   align-items: center;
}

.divspace {
   padding-left: 200px; /* controls space between logo and menu */
}

.topspace {
  padding: 16px 0 0 0;
  margin: 0;
}
.nav-items {
    display: flex;
    list-style: none;
}

.menubuttons {
  font-weight: 600;
  padding: 15px;
  text-decoration: none;
  color: black;
}

.menubuttonsgrn {
   color: limegreen;
}

.servicearea {
  background-color: whitesmoke;
  display: grid;
  grid-column-gap: 12.5px;
  padding: 10px 25px 25px 25px;
}

.backbox1 {
  background-color: #fff;
  color: #444;
  border-radius: 1px;
  grid-column: 1/2;
  grid-row: 1;
  padding: 25px 20px 0 20px;
}

.backbox2 {
  background-color: #fff;
  color: #444;
  border-radius: 1px;
  grid-column: 3/4;
  grid-row: 1;
  padding: 25px 20px 0 20px;
}

.backbox3 {
  background-color: #fff;
  color: #444;
  border-radius: 1px;
  grid-column: 5/6;
  grid-row: 1;
  padding: 25px 20px 0 20px;
}

.backbox4 {
  background-color: #fff;
  color: #444;
  border-radius: 1px;
  grid-column: 7/8;
  grid-row: 1;
  padding: 25px 20px 0 20px;
}

.bigger {
  font-family:cursive;
  font-size: 20px;
}
.boxedtext {
  border-style: solid;
  border-width:thin;
  border-color: darkgrey;
  margin: 24px;
}

.boxedarea {
  border-style: solid;
  border-width:thin;
  border-color: darkgrey;
  margin: 21px 0 0 0;
}

.bottomgrid {
  background-color: #fff;
  display: grid;
  grid:1 1 1;
  grid-column-gap: 10px;
  text-align: center;
  padding-bottom: 25px;
  height: 230px;

  padding-right: 25px;
}

.pic1{
  grid-column: 2/3;
}

.pic2{
  padding-top: 20px;
  grid-column: 4/5;
}

.pic3{
  padding-top: 20px;
  grid-column: 6/7;
}
